<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="expires" content="0">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link href="favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700italic,700" rel="stylesheet" type="text/css">
    <base href="./<%= htmlWebpackPlugin.options.filename %>">
    <% if(htmlWebpackPlugin.options.isNg2dev) { %>
    <%= '<' %>script src="/polyfill.js"<%= '>' %><%= '<' %>/script<%= '>' %>
    <%= '<' %>script src="/ng2vendor.js"<%= '>' %><%= '<' %>/script<%= '>' %>
    <% } %>

</head>
<body>
    <div app>
    </div>
</body>
</html>